body{
    margin: 0;
    background-image: url(./picture/西瓜.jpg);
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
}

@media (min-width: 650px){
    body{
        background-image: url(./picture/4.jpg);
    }
}

.Text{
    text-align: center;
    color: white;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 4em;
    color: white;
}

a{
    color: #08c;
    text-shadow: 1px 1px #FFF;
}